# Ignore Python virtual environments
captcha/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Logs and other output
*.log

# Environment and dependency
.env
.venv/
*.egg-info/